* {
    box-sizing: border-box;
}
.calendar-square {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}
.calendar-square ul {
    width: 200px;
    height: 40px;
    overflow-y: scroll;
    list-style: none;
}
.selected-day {
    background-color: lightblue;
}

/* Crop popup styling */
#add-crop-popup {
    border: 1px solid black;
    padding: 10px;
    width: 65vw;
    position: fixed;
    z-index: 10;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
#top-section-popup {
    display: flex;
    justify-content: space-between;
}
#top-section-popup > p {
    width: 50%;
    display: inline-block;

}
#exit-popup {
    width: 25px;
    height: 25px;
}